In [3]:
import pandas as pd

tips = pd.read_csv("https://milliams.com/courses/data_analysis_python/tips.csv")
tips

     total_bill   tip   day    time  size
0         16.99  0.71   Sun  Dinner     2
1         10.34  1.16   Sun  Dinner     3
2         21.01  2.45   Sun  Dinner     3
3         23.68  2.32   Sun  Dinner     2
4         24.59  2.53   Sun  Dinner     4
..          ...   ...   ...     ...   ...
239       29.03  4.14   Sat  Dinner     3
240       27.18  1.40   Sat  Dinner     2
241       22.67  1.40   Sat  Dinner     2
242       17.82  1.22   Sat  Dinner     2
243       18.78  2.10  Thur  Dinner     2

[244 rows x 5 columns]

In [4]:
tips["total_bill"]

0      16.99
1      10.34
2      21.01
3      23.68
4      24.59
       ...
239    29.03
240    27.18
241    22.67
242    17.82
243    18.78
Name: total_bill, Length: 244, dtype: float64

In [6]:
tips[["total_bill", "tip"]]

     total_bill   tip
0         16.99  0.71
1         10.34  1.16
2         21.01  2.45
3         23.68  2.32
4         24.59  2.53
..          ...   ...
239       29.03  4.14
240       27.18  1.40
241       22.67  1.40
242       17.82  1.22
243       18.78  2.10

[244 rows x 2 columns]

In [7]:
tips[["total_bill", "tip", "day"]]

     total_bill   tip   day
0         16.99  0.71   Sun
1         10.34  1.16   Sun
2         21.01  2.45   Sun
3         23.68  2.32   Sun
4         24.59  2.53   Sun
..          ...   ...   ...
239       29.03  4.14   Sat
240       27.18  1.40   Sat
241       22.67  1.40   Sat
242       17.82  1.22   Sat
243       18.78  2.10  Thur

[244 rows x 3 columns]

If you want to grab a single value from the table, you can follow the row label with the column name that you want:

In [8]:
tips.loc[2, "total_bill"]

21.01

In [11]:
tips["size"]

0      2
1      3
2      3
3      2
4      4
      ..
239    3
240    2
241    2
242    2
243    2
Name: size, Length: 244, dtype: int64

In [12]:
tips["total_bill"].sum()

4827.77

In [13]:
tips["total_bill"].mean()

19.785942622950824

In [14]:
tips["tip"].max()

7.0

In [16]:
tips["total_bill"].idxmax()

170

use this information with the .loc attribute to get the rest of the information for that row

In [19]:
tips.loc[170]

total_bill     50.81
tip              7.0
day              Sat
time          Dinner
size               3
Name: 170, dtype: object

Find the value of the tip that was paid for the smallest total bill.

In [20]:
tips["total_bill"].idxmin()

67

In [22]:
tips.loc[67]

total_bill      3.07
tip              0.7
day              Sat
time          Dinner
size               1
Name: 67, dtype: object

In [23]:
tips["total_bill"] * 100

0      1699.0
1      1034.0
2      2101.0
3      2368.0
4      2459.0
        ...
239    2903.0
240    2718.0
241    2267.0
242    1782.0
243    1878.0
Name: total_bill, Length: 244, dtype: float64

In [24]:
tips["tip"] / tips["total_bill"]

0      0.041789
1      0.112186
2      0.116611
3      0.097973
4      0.102887
         ...
239    0.142611
240    0.051508
241    0.061756
242    0.068462
243    0.111821
Length: 244, dtype: float64

In [25]:
(tips["tip"] / tips["total_bill"])*100

0       4.178929
1      11.218569
2      11.661114
3       9.797297
4      10.288735
         ...
239    14.261109
240     5.150846
241     6.175562
242     6.846240
243    11.182109
Length: 244, dtype: float64

In [26]:
tip_fraction = tips["tip"] / tips["total_bill"]
tip_percent = tip_fraction*100
tip_percent

0       4.178929
1      11.218569
2      11.661114
3       9.797297
4      10.288735
         ...
239    14.261109
240     5.150846
241     6.175562
242     6.846240
243    11.182109
Length: 244, dtype: float64

In [28]:
bill_per_person = tips["total_bill"] / tips["size"]

bill_per_person

0       8.495000
1       3.446667
2       7.003333
3      11.840000
4       6.147500
         ...
239     9.676667
240    13.590000
241    11.335000
242     8.910000
243     9.390000
Length: 244, dtype: float64

In [29]:
bill_per_person.mean()

7.88822950819673

In [30]:
bill_per_person.std()

2.9143496626220995

In [31]:
tips["percent_tip"] = (tips["tip"] / tips["total_bill"])*100
tips

     total_bill   tip   day    time  size  percent_tip
0         16.99  0.71   Sun  Dinner     2     4.178929
1         10.34  1.16   Sun  Dinner     3    11.218569
2         21.01  2.45   Sun  Dinner     3    11.661114
3         23.68  2.32   Sun  Dinner     2     9.797297
4         24.59  2.53   Sun  Dinner     4    10.288735
..          ...   ...   ...     ...   ...          ...
239       29.03  4.14   Sat  Dinner     3    14.261109
240       27.18  1.40   Sat  Dinner     2     5.150846
241       22.67  1.40   Sat  Dinner     2     6.175562
242       17.82  1.22   Sat  Dinner     2     6.846240
243       18.78  2.10  Thur  Dinner     2    11.182109

[244 rows x 6 columns]

In [32]:
tips["bill per person"] = tips["total_bill"] / tips["size"]
tips

     total_bill   tip   day    time  size  percent_tip  bill per person
0         16.99  0.71   Sun  Dinner     2     4.178929         8.495000
1         10.34  1.16   Sun  Dinner     3    11.218569         3.446667
2         21.01  2.45   Sun  Dinner     3    11.661114         7.003333
3         23.68  2.32   Sun  Dinner     2     9.797297        11.840000
4         24.59  2.53   Sun  Dinner     4    10.288735         6.147500
..          ...   ...   ...     ...   ...          ...              ...
239       29.03  4.14   Sat  Dinner     3    14.261109         9.676667
240       27.18  1.40   Sat  Dinner     2     5.150846        13.590000
241       22.67  1.40   Sat  Dinner     2     6.175562        11.335000
242       17.82  1.22   Sat  Dinner     2     6.846240         8.910000
243       18.78  2.10  Thur  Dinner     2    11.182109         9.390000

[244 rows x 7 columns]